<!-- <img src="<%= rootURL %>" alt=""> -->
<%- include('./_mv.ejs') %>
<div class="contents">
    <div class="contents-inner">
        
        <h2>
            2025 SPRING
        </h2>
        <ul class="nav">
            <li class="nav_feed">
                FEED
            </li>
            <li class="nav_index">
                INDEX
            </li>
        </ul>
        
        <div class="sp-main sp">
            <%- include('./_spmain.ejs') %>
        </div>
        <div class="pc-main pc">
            <%- include('./_pcmain.ejs') %>
        </div>
        <footer class="footer">
            <%- include('./_foot.ejs') %> 
        </footer>
    </div>
</div>
<%- include('./_index.ejs') %> 



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="<%= rootURL %>/assets/js/index.js"></script>
