<div class="footer_logo">
    <a href="https://www.dot-st.com/rageblue/" target="_blank">
        <img src="<%= rootURL %>/assets/img/footer_logo.png" alt="" loading=”lazy”>
    </a>
</div>
<p class="footer_credit">
    Photo_Ryosuke Hoshina<br class="sp">
    Movie_Kei Doguchi<br class="sp">
    Styling_Masashi Sho<br class="sp">
    Hair & Make-up_Moeka Kanehara<br class="sp">
    Model_ Ivar (THE MANAGEMENT), Kate (WEST MANAGEMENT)<br>
    Design_Miko Shima<br class="sp">
    Web Development_Riho Yamamoto (Rhino Inc.)<br class="sp">
    Edit_Miyoko Hashimoto, Takahiro Kawata (Rhino Inc.)                
</p>
<ul class="footer_sns">
    <li class="x icon">
        <a href="https://x.com/ragebluepress" target="_blank">
            <img src="<%= rootURL %>/assets/img/x.png" alt="" loading=”lazy”>
        </a>
    </li>
    <li class="insta icon">
        <a href="https://www.instagram.com/rageblue_official/" target="_blank">
            <img src="<%= rootURL %>/assets/img/insta.png" alt="" loading=”lazy”>
        </a>
    </li>
    <li class="line icon">
        <a href="https://line.me/R/ti/p/@rageblue?from=page" target="_blank">
            <img src="<%= rootURL %>/assets/img/line.png" alt="" loading=”lazy”>
        </a>
    </li>
    <li class="tiktok icon">
        <a href="https://www.tiktok.com/@rageblue_official" target="_blank">
            <img src="<%= rootURL %>/assets/img/tiktok.png" alt="" loading=”lazy”>
        </a>
    </li>
</ul>
<p class="footer_copy">
    Copyright © Adastria Co., Ltd. All rights reserved.
</p>