<div class="overlay">
    <div class="index_wrap">

        <!-- sp -->
        <div class="index_inner sp">
            <ul class="index_content anchor_link">
                <li class="index_ph">
                    <a href="#style1">

                        <img src="<%= rootURL %>/assets/img/index1.jpg" alt="" loading=”lazy”>
                    </a>
                </li>
                <li class="index_ph">
                    <a href="#style2">
                        <img src="<%= rootURL %>/assets/img/index2.jpg" alt="" loading=”lazy”>
                    </a>
                </li>
                <li class="index_ph">
                    <a href="#style3">
                        <img src="<%= rootURL %>/assets/img/index3.jpg" alt="" loading=”lazy”>
                    </a>
                </li>
                <li class="index_ph">
                    <a href="#style4">
                        <img src="<%= rootURL %>/assets/img/index4.jpg" alt="" loading=”lazy”>
                    </a>
                </li>
                <li class="index_ph">
                    <a href="#style5">
                        <img src="<%= rootURL %>/assets/img/index5.jpg" alt="" loading=”lazy”>
                    </a>
                </li>
                <li class="index_ph">
                    <a href="#style6">
                        <img src="<%= rootURL %>/assets/img/index6.jpg" alt="" loading=”lazy”>
                    </a>
                </li>
                <li class="index_ph">
                    <a href="#style7">
                        <img src="<%= rootURL %>/assets/img/index7.jpg" alt="" loading=”lazy”>
                    </a>
                </li>
                <li class="index_ph">
                    <a href="#style8">
                        <img src="<%= rootURL %>/assets/img/index8.jpg" alt="" loading=”lazy”>
                    </a>
                </li>
                <li class="index_ph">
                    <a href="#style9">
                        <img src="<%= rootURL %>/assets/img/index9.jpg" alt="" loading=”lazy”>
                    </a>
                </li>
                <li class="index_ph">
                    <a href="#style10">
                        <img src="<%= rootURL %>/assets/img/index10.jpg" alt="" loading=”lazy”>
                    </a>
                </li>
            </ul>
            <div class="index_logo">
                <a href="https://www.dot-st.com/rageblue/" target="_blank">
                    <img src="<%= rootURL %>/assets/img/footer_logo.png" alt="" loading=”lazy”>
                </a>
            </div>
    
            <p class="index_credit">
                Photo_Ryosuke Hoshina<br>
                Movie_Kei Doguchi<br>
                Styling_Masashi Sho<br>
                Hair & Make-up_Moeka Kanehara<br>
                Model_ Ivar (THE MANAGEMENT), Kate (WEST MANAGEMENT)<br>
                Design_Miko Shima<br>
                Web Development_Riho Yamamoto (Rhino Inc.)<br>
                Edit_Miyoko Hashimoto, Takahiro Kawata (Rhino Inc.)
            </p>
    
            <ul class="index_sns">
                <li class="x icon">
                    <a href="https://x.com/ragebluepress" target="_blank">
                        <img src="<%= rootURL %>/assets/img/x.png" alt="" loading=”lazy”>
                    </a>
                </li>
                <li class="insta icon">
                    <a href="https://www.instagram.com/rageblue_official/" target="_blank">
                        <img src="<%= rootURL %>/assets/img/insta.png" alt="" loading=”lazy”>
                    </a>
                </li>
                <li class="line icon">
                    <a href="https://line.me/R/ti/p/@rageblue?from=page" target="_blank">
                        <img src="<%= rootURL %>/assets/img/line.png" alt="" loading=”lazy”>
                    </a>
                </li>
                <li class="tiktok icon">
                    <a href="https://www.tiktok.com/@rageblue_official" target="_blank">
                        <img src="<%= rootURL %>/assets/img/tiktok.png" alt="" loading=”lazy”>
                    </a>
                </li>
            </ul>
    
            <p class="index_copy">
                Copyright © Adastria Co., Ltd. All rights reserved.
            </p>
        </div>
        <!-- pc -->
        <div class="index_inner pc">
            <ul class="index_content anchor_link">
                <li class="index_ph">
                    <a href="#pc-style1">

                        <img src="<%= rootURL %>/assets/img/index1.jpg" alt="" loading=”lazy”>
                    </a>
                </li>
                <li class="index_ph">
                    <a href="#pc-style3">
                        <img src="<%= rootURL %>/assets/img/index3.jpg" alt="" loading=”lazy”>
                    </a>
                </li>
                <li class="index_ph">
                    <a href="#pc-style5">
                        <img src="<%= rootURL %>/assets/img/index5.jpg" alt="" loading=”lazy”>
                    </a>
                </li>
                <li class="index_ph">
                    <a href="#pc-style7">
                        <img src="<%= rootURL %>/assets/img/index7.jpg" alt="" loading=”lazy”>
                    </a>
                </li>
                <li class="index_ph">
                    <a href="#pc-style9">
                        <img src="<%= rootURL %>/assets/img/index9.jpg" alt="" loading=”lazy”>
                    </a>
                </li>
                <li class="index_ph">
                    <a href="#pc-style2">
                        <img src="<%= rootURL %>/assets/img/index2.jpg" alt="" loading=”lazy”>
                    </a>
                </li>
                <li class="index_ph">
                    <a href="#pc-style4">
                        <img src="<%= rootURL %>/assets/img/index4.jpg" alt="" loading=”lazy”>
                    </a>
                </li>
                <li class="index_ph">
                    <a href="#pc-style6">
                        <img src="<%= rootURL %>/assets/img/index6.jpg" alt="" loading=”lazy”>
                    </a>
                </li>
                <li class="index_ph">
                    <a href="#pc-style8">
                        <img src="<%= rootURL %>/assets/img/index8.jpg" alt="" loading=”lazy”>
                    </a>
                </li>

                <li class="index_ph">
                    <a href="#pc-style10">
                        <img src="<%= rootURL %>/assets/img/index10.jpg" alt="" loading=”lazy”>
                    </a>
                </li>
            </ul>
            
            <div class="pc-index_wrap">
                <p class="pc-index_credit">
                    Photo_Ryosuke Hoshina　
                    Movie_Kei Doguchi　
                    Styling_Masashi Sho　
                    Hair & Make-up_Moeka Kanehara　
                    Model_ Ivar (THE MANAGEMENT), Kate (WEST MANAGEMENT)<br>
                    Design_Miko Shima　
                    Web Development_Riho Yamamoto (Rhino Inc.)　
                    Edit_Miyoko Hashimoto, Takahiro Kawata (Rhino Inc.)
                </p>
                <div class="pc-index_right">
                    <div class="index_flex">
                        <div class="pc-index_logo">
                            <a href="https://www.dot-st.com/rageblue/" target="_blank">
                                <img src="<%= rootURL %>/assets/img/footer_logo.png" alt="" loading=”lazy”>
                            </a>
                        </div>
                        <ul class="pc-index_sns">
                            <li class="x icon">
                                <a href="https://x.com/ragebluepress" target="_blank">
                                    <img src="<%= rootURL %>/assets/img/x.png" alt="" loading=”lazy”>
                                </a>
                            </li>
                            <li class="insta icon">
                                <a href="https://www.instagram.com/rageblue_official/" target="_blank">
                                    <img src="<%= rootURL %>/assets/img/insta.png" alt="" loading=”lazy”>
                                </a>
                            </li>
                            <li class="line icon">
                                <a href="https://line.me/R/ti/p/@rageblue?from=page" target="_blank">
                                    <img src="<%= rootURL %>/assets/img/line.png" alt="" loading=”lazy”>
                                </a>
                            </li>
                            <li class="tiktok icon">
                                <a href="https://www.tiktok.com/@rageblue_official" target="_blank">
                                    <img src="<%= rootURL %>/assets/img/tiktok.png" alt="" loading=”lazy”>
                                </a>
                            </li>
                        </ul>
                    </div>
        
                    <p class="pc-index_copy">
                        Copyright © Adastria Co., Ltd. All rights reserved.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>