
    <section class="pc-style pc-style1" id="pc-style1">
        <div class="pc-style_inner">
            <div class="pc-inner_wrap">
                <div class="style_absolute">
                    <div class="pc-style_left">
                        <div class="items_detail">
                            <div class="item_flex">
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">KNIT_¥6,600</span>
                                        <span class="buy">BUY</span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">SHIRT_¥5,990</span>
                                        <span class="buy">BUY</span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                            </div>
                            <div class="item_name second_line">
                                <a href="" target="_blank">
                                    <span class="name-price">PANTS_¥5,990</span>
                                    <span class="buy">BUY</span>
                                </a>
                            </div>
                        </div>
                        <div class="pc_numbers">
                            1<span>234567891011</span>
                        </div>
                    </div>    
                    <div class="pc-style_center">
                        <img class="first_img" src="<%= rootURL %>/assets/img/pc_style1-1.jpg" alt="" >
                        <img class="change_img" src="<%= rootURL %>/assets/img/pc_style1-2.jpg" alt="" >
                    </div>
                    <div class="pc-style_right">
                        <div class="right_img">
                            <img class="first_img" src="<%= rootURL %>/assets/img/pc_style1-2.jpg" alt="" >
                            <img class="change_img" src="<%= rootURL %>/assets/img/pc_style1-1.jpg" alt="" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pc-style pc-style2" id="pc-style2">
        <div class="pc-style_inner">
            <div class="pc-inner_wrap">
                <div class="style_absolute">
                    <div class="pc-style_left">
                        <div class="items_detail">
                            <div class="item_flex">
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">KNIT_¥6,600</span>
                                        <span class="buy">BUY</span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">SHIRT_¥5,990</span>
                                        <span class="buy">BUY</span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                            </div>
                            <div class="item_name second_line">
                                <a href="" target="_blank">
                                    <span class="name-price">PANTS_¥5,990</span>
                                    <span class="buy">BUY</span>
                                </a>
                            </div>
                        </div>
                        <div class="pc_numbers">
                            <span>1</span>2<span>34567891011</span>
                        </div>
                    </div>    
                    <div class="pc-style_center">
                        <img class="first_img" src="<%= rootURL %>/assets/img/pc_style2-1.jpg" alt="" >
                        <img class="change_img" src="<%= rootURL %>/assets/img/pc_style2-2.jpg" alt="" >
                    </div>
                    <div class="pc-style_right">
                        <div class="right_img">
                            <img class="first_img" src="<%= rootURL %>/assets/img/pc_style2-2.jpg" alt="" >
                            <img class="change_img" src="<%= rootURL %>/assets/img/pc_style2-1.jpg" alt="" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pc-style pc-style3" id="pc-style3">
        <div class="pc-style_inner">
            <div class="pc-inner_wrap">
                <div class="style_absolute">
                    <div class="pc-style_left">
                        <div class="items_detail">
                            <div class="item_flex">
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">KNIT_¥6,600</span>
                                        <span class="buy">BUY</span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">SHIRT_¥5,990</span>
                                        <span class="buy">BUY</span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                            </div>
                            <div class="item_name second_line">
                                <a href="" target="_blank">
                                    <span class="name-price">PANTS_¥5,990</span>
                                    <span class="buy">BUY</span>
                                </a>
                            </div>
                        </div>
                        <div class="pc_numbers">
                            <span>12</span>3<span>4567891011</span>
                        </div>
                    </div>    
                    <div class="pc-style_center">
                        <img class="first_img" src="<%= rootURL %>/assets/img/pc_style3.jpg" alt="" >
                    </div>
                    <div class="pc-style_right">
                    </div>
                </div>
            </div>
        </div>
    </section>
