<section class="pc-style pc-style1" id="pc-style1">
    <div class="pc-style_inner">
        <div class="pc-inner_wrap">
            <div class="style_absolute">
                <div class="pc-style_left">
                    <h2 class="pc_logo">
                        <a href="https://www.dot-st.com/rageblue/" target="_blank">
                            <img src="<%= rootURL %>/assets/img/top_ragelogo.png" alt="">
                        </a>
                    </h2>   
                    <div class="items_detail">
                        <div class="item_flex">
                            <div class="item_name">
                                <a href="" target="_blank">
                                    <span class="name-price">KNIT_¥6,600</span>
                                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                    <span class="slash">/</span>
                                </a>
                            </div>
                            <div class="item_name">
                                <a href="" target="_blank">
                                    <span class="name-price">SHIRT_¥5,990</span>
                                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                    <span class="slash">/</span>
                                </a>
                            </div>
                        </div>
                        <div class="item_name second_line">
                            <a href="" target="_blank">
                                <span class="name-price">PANTS_¥5,990</span>
                                <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                            </a>
                        </div>
                    </div>
                    <div class="pc_pagenation">
                        <div class="pagenation_left"></div>
                        <div class="pagenation_right"></div>
                    </div>
                    <div class="pc_numbers">
                        <span class="celect">1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>6</span><span>7</span><span>8</span><span>9</span><span>10</span><span>11</span>
                    </div>
                </div>
                <div class="pc-style_center">
                    <img class="first_img" src="<%= rootURL %>/assets/img/pc_style1-1.jpg" alt="">
                    <img class="change_img" src="<%= rootURL %>/assets/img/pc_style1-2.jpg" alt="">
                </div>
                <div class="pc-style_right">
                    <div class="nav">
                        <div class="nav_inner">
                            <div class="nav_index">
                                <img src="<%= rootURL %>/assets/img/alllook.png" alt="">
                            </div>
                            <div class="arrow">
                                <img src="<%= rootURL %>/assets/img/arrow.png" alt="">
                            </div>
                        </div>
                    </div>
                    
                    <div class="right_img">
                        <img class="first_img" src="<%= rootURL %>/assets/img/pc_style1-2.jpg" alt="">
                        <img class="change_img" src="<%= rootURL %>/assets/img/pc_style1-1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pc-style pc-style2" id="pc-style2">
    <div class="pc-style_inner">
        <div class="pc-inner_wrap">
            <div class="style_absolute">
                <div class="pc-style_left">
                    <div class="position_relative">
                        <h2 class="pc_logo">
                        <a href="https://www.dot-st.com/rageblue/" target="_blank">
                            <img src="<%= rootURL %>/assets/img/top_ragelogo.png" alt="">
                        </a>
                    </h2>   
                    <div class="items_detail">
                            <div class="item_flex">
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">BLOUSON_¥11,000</span>
                                        <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">SHIRT_¥6,089</span>
                                        <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                            </div>
                            <div class="item_name second_line">
                                <a href="" target="_blank">
                                    <span class="name-price">ONE-PIECE_¥7,489</span>
                                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                </a>
                            </div>
                        </div>
                        <div class="pc_pagenation">
                            <div class="pagenation_left"></div>
                            <div class="pagenation_right"></div>
                        </div>
                        <div class="pc_numbers">
                            <span>1</span><span
                                class="celect">2</span><span>3</span><span>4</span><span>5</span><span>6</span><span>7</span><span>8</span><span>9</span><span>10</span><span>11</span>
                        </div>
                    </div>
                </div>
                <div class="pc-style_center">
                    <img class="first_img" src="<%= rootURL %>/assets/img/pc_style2-1.jpg" alt="">
                    <img class="change_img" src="<%= rootURL %>/assets/img/pc_style2-2.jpg" alt="">
                </div>
                <div class="pc-style_right">
                    <div class="nav">
                        <div class="nav_inner">
                            <div class="nav_index">
                                <img src="<%= rootURL %>/assets/img/alllook.png" alt="">
                            </div>
                            <div class="arrow">
                                <img src="<%= rootURL %>/assets/img/arrow.png" alt="">
                            </div>
                        </div>
                    </div>
                    
                    <div class="right_img">
                        <img class="first_img" src="<%= rootURL %>/assets/img/pc_style2-2.jpg" alt="">
                        <img class="change_img" src="<%= rootURL %>/assets/img/pc_style2-1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pc-style pc-style3" id="pc-style3">
    <div class="pc-style_inner">
        <div class="pc-inner_wrap">
            <div class="style_absolute">
                <div class="pc-style_left">
                    <div class="position_relative">
                        <h2 class="pc_logo">
                        <a href="https://www.dot-st.com/rageblue/" target="_blank">
                            <img src="<%= rootURL %>/assets/img/top_ragelogo.png" alt="">
                        </a>
                    </h2>   
                    <div class="items_detail">
                            <div class="item_flex">
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">BLOUSON_¥11,000</span>
                                        <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">SHIRT_¥5,990</span>
                                        <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                            </div>
                            <div class="item_flex second_line">
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">T-SHIRT_¥4,400</span>
                                        <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">PANTS_¥6,990</span>
                                        <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="pc_numbers">
                            <span>1</span><span>2</span><span
                                class="celect">3</span><span>4</span><span>5</span><span>6</span><span>7</span><span>8</span><span>9</span><span>10</span><span>11</span>
                        </div>
                    </div>
                </div>
                <div class="pc-style_center">
                    <img class="first_img" src="<%= rootURL %>/assets/img/pc_style3.jpg" alt="">
                </div>
                <div class="pc-style_right">
                    <div class="nav">
                        <div class="nav_inner">
                            <div class="nav_index">
                                <img src="<%= rootURL %>/assets/img/alllook.png" alt="">
                            </div>
                            <div class="arrow">
                                <img src="<%= rootURL %>/assets/img/arrow.png" alt="">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pc-style pc-style4" id="pc-style4">
    <div class="pc-style_inner">
        <div class="pc-inner_wrap">
            <div class="style_absolute">
                <div class="pc-style_left">
                    <div class="position_relative">
                        <h2 class="pc_logo">
                        <a href="https://www.dot-st.com/rageblue/" target="_blank">
                            <img src="<%= rootURL %>/assets/img/top_ragelogo.png" alt="">
                        </a>
                    </h2>   
                    <div class="items_detail">
                            <div class="item_flex">
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">COAT_¥11,990</span>
                                        <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">SHIRT_¥6,089</span>
                                        <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                            </div>
                            <div class="item_name second_line">
                                <a href="" target="_blank">
                                    <span class="name-price">PANTS_¥3,989</span>
                                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                </a>
                            </div>
                        </div>
                        <div class="pc_pagenation">
                            <div class="pagenation_left"></div>
                            <div class="pagenation_right"></div>
                        </div>
                        <div class="pc_numbers">
                            <span>1</span><span>2</span><span>3</span><span
                                class="celect">4</span><span>5</span><span>6</span><span>7</span><span>8</span><span>9</span><span>10</span><span>11</span>
                        </div>
                    </div>
                </div>
                <div class="pc-style_center">
                    <img class="first_img" src="<%= rootURL %>/assets/img/pc_style4-1.jpg" alt="">
                    <img class="change_img" src="<%= rootURL %>/assets/img/pc_style4-2.jpg" alt="">
                </div>
                <div class="pc-style_right">
                    <div class="nav">
                        <div class="nav_inner">
                            <div class="nav_index">
                                <img src="<%= rootURL %>/assets/img/alllook.png" alt="">
                            </div>
                            <div class="arrow">
                                <img src="<%= rootURL %>/assets/img/arrow.png" alt="">
                            </div>
                        </div>
                    </div>
                    
                    <div class="right_img">
                        <img class="first_img" src="<%= rootURL %>/assets/img/pc_style4-2.jpg" alt="">
                        <img class="change_img" src="<%= rootURL %>/assets/img/pc_style4-1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pc-style pc-style5" id="pc-style5">
    <div class="pc-style_inner">
        <div class="pc-inner_wrap">
            <div class="style_absolute">
                <div class="pc-style_left">
                    <div class="position_relative">
                        <h2 class="pc_logo">
                        <a href="https://www.dot-st.com/rageblue/" target="_blank">
                            <img src="<%= rootURL %>/assets/img/top_ragelogo.png" alt="">
                        </a>
                    </h2>   
                    <div class="items_detail">
                            <div class="item_flex">
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">JACKET_¥9,990</span>
                                        <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">T-SHIRT_¥4,400</span>
                                        <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                            </div>
                            <div class="item_flex second_line">
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">PARKER_¥5,990</span>
                                        <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">PANTS_¥5,990</span>
                                        <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="pc_pagenation">
                            <div class="pagenation_left"></div>
                            <div class="pagenation_right"></div>
                        </div>
                        <div class="pc_numbers">
                            <span>1</span><span>2</span><span>3</span><span>4</span><span
                                class="celect">5</span><span>6</span><span>7</span><span>8</span><span>9</span><span>10</span><span>11</span>
                        </div>
                    </div>
                </div>
                <div class="pc-style_center">
                    <img class="first_img" src="<%= rootURL %>/assets/img/pc_style5-1.jpg" alt="">
                    <img class="change_img" src="<%= rootURL %>/assets/img/pc_style5-2.jpg" alt="">
                </div>
                <div class="pc-style_right">
                    <div class="nav">
                        <div class="nav_inner">
                            <div class="nav_index">
                                <img src="<%= rootURL %>/assets/img/alllook.png" alt="">
                            </div>
                            <div class="arrow">
                                <img src="<%= rootURL %>/assets/img/arrow.png" alt="">
                            </div>
                        </div>
                    </div>
                    
                    <div class="right_img">
                        <img class="first_img" src="<%= rootURL %>/assets/img/pc_style5-2.jpg" alt="">
                        <img class="change_img" src="<%= rootURL %>/assets/img/pc_style5-1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pc-style pc-style6" id="pc-style6">
    <div class="pc-style_inner">
        <div class="pc-inner_wrap">
            <div class="style_absolute">
                <div class="pc-style_left">
                    <div class="position_relative">
                        <h2 class="pc_logo">
                        <a href="https://www.dot-st.com/rageblue/" target="_blank">
                            <img src="<%= rootURL %>/assets/img/top_ragelogo.png" alt="">
                        </a>
                    </h2>   
                    <div class="items_detail">
                            <div class="item_flex">
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">JACKET_¥11,990</span>
                                        <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">PANTS_¥7,700</span>
                                        <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                            </div>
                            <div class="item_name second_line">
                                <a href="" target="_blank">
                                    <span class="name-price">SKIRT_¥6,990</span>
                                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                </a>
                            </div>
                        </div>
                        <div class="pc_pagenation">
                            <div class="pagenation_left"></div>
                            <div class="pagenation_right"></div>
                        </div>
                        <div class="pc_numbers">
                            <span>1</span><span>2</span><span>3</span><span>4</span><span>5</span><span
                                class="celect">6</span><span>7</span><span>8</span><span>9</span><span>10</span><span>11</span>
                        </div>
                    </div>
                </div>
                <div class="pc-style_center">
                    <img class="first_img" src="<%= rootURL %>/assets/img/pc_style6-1.jpg" alt="">
                    <img class="change_img" src="<%= rootURL %>/assets/img/pc_style6-2.jpg" alt="">
                </div>
                <div class="pc-style_right">
                    <div class="nav">
                        <div class="nav_inner">
                            <div class="nav_index">
                                <img src="<%= rootURL %>/assets/img/alllook.png" alt="">
                            </div>
                            <div class="arrow">
                                <img src="<%= rootURL %>/assets/img/arrow.png" alt="">
                            </div>
                        </div>
                    </div>
                    
                    <div class="right_img">
                        <img class="first_img" src="<%= rootURL %>/assets/img/pc_style6-2.jpg" alt="">
                        <img class="change_img" src="<%= rootURL %>/assets/img/pc_style6-1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pc-style pc-style7" id="pc-style7">
    <div class="pc-style_inner">
        <div class="pc-inner_wrap">
            <div class="style_absolute">
                <div class="pc-style_left">
                    <div class="position_relative">
                        <h2 class="pc_logo">
                        <a href="https://www.dot-st.com/rageblue/" target="_blank">
                            <img src="<%= rootURL %>/assets/img/top_ragelogo.png" alt="">
                        </a>
                    </h2>   
                    <div class="items_detail">
                            <div class="item_flex">
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">TOPS_¥6,600</span>
                                        <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">SHIRT_¥5,990</span>
                                        <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                            </div>
                            <div class="item_name second_line">
                                <a href="" target="_blank">
                                    <span class="name-price">PANTS_¥7,990</span>
                                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                </a>
                            </div>
                        </div>
                        <div class="pc_numbers">
                            <span>1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>6</span><span
                                class="celect">7</span><span>8</span><span>9</span><span>10</span><span>11</span>
                        </div>
                    </div>
                </div>
                <div class="pc-style_center">
                    <img class="first_img" src="<%= rootURL %>/assets/img/pc_style7.jpg" alt="">
                </div>
                <div class="pc-style_right">
                    <div class="nav">
                        <div class="nav_inner">
                            <div class="nav_index">
                                <img src="<%= rootURL %>/assets/img/alllook.png" alt="">
                            </div>
                            <div class="arrow">
                                <img src="<%= rootURL %>/assets/img/arrow.png" alt="">
                            </div>
                        </div>
                    </div>
                    
                    <div class="right_img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pc-style pc-style8" id="pc-style8">
    <div class="pc-style_inner">
        <div class="pc-inner_wrap">
            <div class="style_absolute">
                <div class="pc-style_left">
                    <div class="position_relative">
                        <h2 class="pc_logo">
                        <a href="https://www.dot-st.com/rageblue/" target="_blank">
                            <img src="<%= rootURL %>/assets/img/top_ragelogo.png" alt="">
                        </a>
                    </h2>   
                    <div class="items_detail">
                            <div class="item_flex">
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">JACKET_¥9,990</span>
                                        <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">ONE-PIECE_¥7,990</span>
                                        <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                    </a>
                                </div>
                            </div>
                            <div class="item_name" style="opacity: 0; pointer-events: none;">
                                <a href="" target="_blank">
                                    <span class="name-price">ONE-PIECE_¥7,990</span>
                                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                </a>
                            </div>
                        </div>
                        <div class="pc_pagenation">
                            <div class="pagenation_left"></div>
                            <div class="pagenation_right"></div>
                        </div>
                        <div class="pc_numbers">
                            <span>1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>6</span><span>7</span><span
                                class="celect">8</span><span>9</span><span>10</span><span>11</span>
                        </div>
                    </div>
                </div>
                <div class="pc-style_center">
                    <img class="first_img" src="<%= rootURL %>/assets/img/pc_style8-1.jpg" alt="">
                    <img class="change_img" src="<%= rootURL %>/assets/img/pc_style8-2.jpg" alt="">
                </div>
                <div class="pc-style_right">
                    <div class="nav">
                        <div class="nav_inner">
                            <div class="nav_index">
                                <img src="<%= rootURL %>/assets/img/alllook.png" alt="">
                            </div>
                            <div class="arrow">
                                <img src="<%= rootURL %>/assets/img/arrow.png" alt="">
                            </div>
                        </div>
                    </div>
                    
                    <div class="right_img">
                        <img class="first_img" src="<%= rootURL %>/assets/img/pc_style8-2.jpg" alt="">
                        <img class="change_img" src="<%= rootURL %>/assets/img/pc_style8-1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pc-style pc-style9" id="pc-style9">
    <div class="pc-style_inner">
        <div class="pc-inner_wrap">
            <div class="style_absolute">
                <div class="pc-style_left">
                    <div class="position_relative">
                        <h2 class="pc_logo">
                        <a href="https://www.dot-st.com/rageblue/" target="_blank">
                            <img src="<%= rootURL %>/assets/img/top_ragelogo.png" alt="">
                        </a>
                    </h2>   
                    <div class="items_detail">
                            <div class="item_flex">
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">JACKET_¥9,990</span>
                                        <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">KNIT_¥6,990</span>
                                        <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                            </div>
                            <div class="item_name second_line">
                                <a href="" target="_blank">
                                    <span class="name-price">PANTS_¥5,990</span>
                                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                </a>
                            </div>
                        </div>
                        <div class="pc_pagenation">
                            <div class="pagenation_left"></div>
                            <div class="pagenation_right"></div>
                        </div>
                        <div class="pc_numbers">
                            <span>1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>6</span><span>7</span><span>8</span><span
                                class="celect">9</span><span>10</span><span>11</span>
                        </div>
                    </div>
                </div>
                <div class="pc-style_center">
                    <img class="first_img" src="<%= rootURL %>/assets/img/pc_style9-1.jpg" alt="">
                    <img class="change_img" src="<%= rootURL %>/assets/img/pc_style9-2.jpg" alt="">
                </div>
                <div class="pc-style_right">
                    <div class="nav">
                        <div class="nav_inner">
                            <div class="nav_index">
                                <img src="<%= rootURL %>/assets/img/alllook.png" alt="">
                            </div>
                            <div class="arrow">
                                <img src="<%= rootURL %>/assets/img/arrow.png" alt="">
                            </div>
                        </div>
                    </div>
                    
                    <div class="right_img">
                        <img class="first_img" src="<%= rootURL %>/assets/img/pc_style9-2.jpg" alt="">
                        <img class="change_img" src="<%= rootURL %>/assets/img/pc_style9-1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pc-style pc-style10" id="pc-style10">
    <div class="pc-style_inner">
        <div class="pc-inner_wrap">
            <div class="style_absolute">
                <div class="pc-style_left">
                    <div class="position_relative">
                        <h2 class="pc_logo">
                        <a href="https://www.dot-st.com/rageblue/" target="_blank">
                            <img src="<%= rootURL %>/assets/img/top_ragelogo.png" alt="">
                        </a>
                    </h2>   
                    <div class="items_detail">
                            <div class="item_flex">
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">JACKET_¥9,990</span>
                                        <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">KNIT VEST_¥5,989</span>
                                        <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                            </div>
                            <div class="item_name second_line">
                                <a href="" target="_blank">
                                    <span class="name-price">PANTS_¥6,600</span>
                                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                </a>
                            </div>
                        </div>

                        <div class="pc_numbers">
                            <span>1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>6</span><span>7</span><span>8</span><span>9</span><span
                                class="celect">10</span><span>11</span>
                        </div>
                    </div>
                </div>
                <div class="pc-style_center">
                    <img src="<%= rootURL %>/assets/img/pc_style10.jpg" alt="">
                </div>
                <div class="pc-style_right">
                    <div class="nav">
                        <div class="nav_inner">
                            <div class="nav_index">
                                <img src="<%= rootURL %>/assets/img/alllook.png" alt="">
                            </div>
                            <div class="arrow">
                                <img src="<%= rootURL %>/assets/img/arrow.png" alt="">
                            </div>
                        </div>
                    </div>
                    
                    <div class="right_img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pc-style pc-style11" id="pc-style11">
    <div class="pc-style_inner">
        <div class="pc-inner_wrap">
            <div class="style_absolute">
                <div class="pc-style_left">
                    <div class="position_relative">
                        <h2 class="pc_logo">
                        <a href="https://www.dot-st.com/rageblue/" target="_blank">
                            <img src="<%= rootURL %>/assets/img/top_ragelogo.png" alt="">
                        </a>
                    </h2>   
                    <div class="items_detail">
                            <div class="item_flex">
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">PARKER_¥5,990</span>
                                        <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">PANTS_¥5,990</span>
                                        <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                            </div>
                            <div class="item_name second_line">
                                <a href="" target="_blank">
                                    <span class="name-price">SHIRT_¥5,990</span>
                                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                </a>
                            </div>
                        </div>
                        <div class="pc_numbers">
                            <span>1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>6</span><span>7</span><span>8</span><span>9</span><span>10</span><span
                                class="celect">11</span>
                        </div>
                    </div>
                </div>
                <div class="pc-style_center">
                    <img src="<%= rootURL %>/assets/img/pc_style11.jpg" alt="">
                </div>
                <div class="pc-style_right">
                    <div class="nav">
                        <div class="nav_inner">
                            <div class="nav_index">
                                <img src="<%= rootURL %>/assets/img/alllook.png" alt="">
                            </div>
                            <div class="arrow">
                                <img src="<%= rootURL %>/assets/img/arrow.png" alt="">
                            </div>
                        </div>
                    </div>
                    
                    <div class="right_img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pc-footer footer pc-style" id="pc-footer">
    <div class="footer_inner">
        <div class="footer_wrap">
            <div class="style_absolute" style="pointer-events: none;">
                <div class="pc-style_left">
                    <div class="position_relative">
                        <div class="items_detail" style="opacity: 0;">
                            <div class="item_flex">
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">KNIT</span>
                                        <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                                <div class="item_name">
                                    <a href="" target="_blank">
                                        <span class="name-price">SHIRT_¥9,990</span>
                                        <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                        <span class="slash">/</span>
                                    </a>
                                </div>
                            </div>
                            <div class="item_name second_line">
                                <a href="" target="_blank">
                                    <span class="name-price">PANTS_¥9,990</span>
                                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                                </a>
                            </div>
                        </div>
                        <div class="pc_numbers">
                            <span>1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>6</span><span>7</span><span>8</span><span>9</span><span>10</span><span>11</span>
                        </div>
                    </div>
                </div>
                <div class="pc-style_center" style="opacity: 0;">
                    <img src="<%= rootURL %>/assets/img/pc_style11.jpg" alt="">
                </div>
                <div class="pc-style_right">
                    <div class="nav">
                        <div class="nav_inner">
                            <div class="nav_index">
                                <img src="<%= rootURL %>/assets/img/alllook.png" alt="">
                            </div>
                            <div class="arrow">
                                <img src="<%= rootURL %>/assets/img/arrow.png" alt="">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="footer_logo">
                <a href="https://www.dot-st.com/rageblue/" target="_blank">
                    <img src="<%= rootURL %>/assets/img/footer_logo.png" alt="" loading=”lazy”>
                </a>
            </div>
            <p class="footer_credit">
                Photo_Ryosuke Hoshina<br class="sp">
                Movie_Kei Doguchi<br class="sp">
                Styling_Masashi Sho<br class="sp">
                Hair & Make-up_Moeka Kanehara<br class="sp">
                Model_ Ivar (THE MANAGEMENT), Kate (WEST MANAGEMENT)<br>
                Design_Miko Shima<br class="sp">
                Web Development_Riho Yamamoto (Rhino Inc.)<br class="sp">
                Edit_Miyoko Hashimoto, Takahiro Kawata (Rhino Inc.)                
            </p>
            <ul class="footer_sns">
                <li class="x icon">
                    <a href="https://x.com/ragebluepress" target="_blank">
                        <img src="<%= rootURL %>/assets/img/x.png" alt="" loading=”lazy”>
                    </a>
                </li>
                <li class="insta icon">
                    <a href="https://www.instagram.com/rageblue_official/" target="_blank">
                        <img src="<%= rootURL %>/assets/img/insta.png" alt="" loading=”lazy”>
                    </a>
                </li>
                <li class="line icon">
                    <a href="https://line.me/R/ti/p/@rageblue?from=page" target="_blank">
                        <img src="<%= rootURL %>/assets/img/line.png" alt="" loading=”lazy”>
                    </a>
                </li>
                <li class="tiktok icon">
                    <a href="https://www.tiktok.com/@rageblue_official" target="_blank">
                        <img src="<%= rootURL %>/assets/img/tiktok.png" alt="" loading=”lazy”>
                    </a>
                </li>
            </ul>
            <p class="footer_copy">
                Copyright © Adastria Co., Ltd. All rights reserved.
            </p>
        </div>
    </div>
</section>