<section class="style style_1" id="style1">
    <div class="ph_wrap">    
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/style1-1.jpg" alt="" loading=”lazy”>
                </div>
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/style1-2.jpg" alt="" loading=”lazy”>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="items_detail">
        <div class="item_flex">
            <div class="item_name">
                <a href="" target="_blank">
                    <span class="name-price">KNIT_¥6,600</span>
                    <span class="buy">BUY</span>
                    <span class="slash">/</span>
                </a>
            </div>
            <div class="item_name">
                <a href="" target="_blank">
                    <span class="name-price">SHIRT_¥5,990</span>
                    <span class="buy">BUY</span>
                    <span class="slash">/</span>
                </a>
            </div>
        </div>
        <div class="item_name second_line">
            <a href="" target="_blank">
                <span class="name-price">PANTS_¥5,990</span>
                <span class="buy">BUY</span>
            </a>
        </div>
    </div>
</section>
 <section class="style style_2" id="style2">
    
    <div class="ph_wrap">    
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/style2-1.jpg" alt="" loading=”lazy”>
                </div>
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/style2-2.jpg" alt="" loading=”lazy”>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="items_detail">
        <div class="item_flex">
            <div class="item_name">
                <a href="" target="_blank">
                    <span class="name-price">BLOUSON_¥11,000</span>
                    <span class="buy">BUY</span>
                    <span class="slash">/</span>
                </a>
            </div>
            <div class="item_name">
                <a href="" target="_blank">
                    <span class="name-price">SHIRT_¥6,089</span>
                    <span class="buy">BUY</span>
                    <span class="slash">/</span>
                </a>
            </div>
        </div>
        <div class="item_name second_line">
            <a href="" target="_blank">
                <span class="name-price">PANTS_¥5,990</span>
                <span class="buy">BUY</span>
            </a>
        </div>
    </div>
</section> 
 <section class="style style_3" id="style3">
    <div class="ph_wrap">    
        <img src="<%= rootURL %>/assets/img/style3.jpg" alt="" loading=”lazy”>
    </div>
    <div class="items_detail">
        <div class="item_flex">
            <div class="item_name">
                <a href="" target="_blank">
                    <span class="name-price">BLOUSON_¥11,000</span>
                    <span class="buy">BUY</span>
                    <span class="slash">/</span>
                </a>
            </div>
            <div class="item_name">
                <a href="" target="_blank">
                    <span class="name-price">SHIRT_¥6,089</span>
                    <span class="buy">BUY</span>
                    <span class="slash">/</span>
                </a>
            </div>
        </div>
        <div class="item_name second_line">
            <a href="" target="_blank">
                <span class="name-price">PANTS_¥5,990</span>
                <span class="buy">BUY</span>
            </a>
        </div>
    </div>
</section> 
<section class="style style_4" id="style4">
    
    <div class="ph_wrap">    
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/style4-1.jpg" alt="" loading=”lazy”>
                </div>
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/style4-2.jpg" alt="" loading=”lazy”>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="items_detail">
        <div class="item_flex">
            <div class="item_name">
                <a href="" target="_blank">
                    <span class="name-price">BLOUSON_¥11,000</span>
                    <span class="buy">BUY</span>
                    <span class="slash">/</span>
                </a>
            </div>
            <div class="item_name">
                <a href="" target="_blank">
                    <span class="name-price">SHIRT_¥6,089</span>
                    <span class="buy">BUY</span>
                    <span class="slash">/</span>
                </a>
            </div>
        </div>
        <div class="item_name second_line">
            <a href="" target="_blank">
                <span class="name-price">PANTS_¥5,990</span>
                <span class="buy">BUY</span>
            </a>
        </div>
    </div>
</section> 
<section class="style style_5" id="style5">
    
    <div class="ph_wrap">    
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/style5-1.jpg" alt="" loading=”lazy”>
                </div>
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/style5-2.jpg" alt="" loading=”lazy”>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="items_detail">
        <div class="item_flex">
            <div class="item_name">
                <a href="" target="_blank">
                    <span class="name-price">BLOUSON_¥11,000</span>
                    <span class="buy">BUY</span>
                    <span class="slash">/</span>
                </a>
            </div>
            <div class="item_name">
                <a href="" target="_blank">
                    <span class="name-price">SHIRT_¥6,089</span>
                    <span class="buy">BUY</span>
                    <span class="slash">/</span>
                </a>
            </div>
        </div>
        <div class="item_name second_line">
            <a href="" target="_blank">
                <span class="name-price">PANTS_¥5,990</span>
                <span class="buy">BUY</span>
            </a>
        </div>
    </div>
</section> 
<section class="style style_6" id="style6">
    
    <div class="ph_wrap">    
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/style6-1.jpg" alt="" loading=”lazy”>
                </div>
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/style6-2.jpg" alt="" loading=”lazy”>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="items_detail">
        <div class="item_flex">
            <div class="item_name">
                <a href="" target="_blank">
                    <span class="name-price">BLOUSON_¥11,000</span>
                    <span class="buy">BUY</span>
                    <span class="slash">/</span>
                </a>
            </div>
            <div class="item_name">
                <a href="" target="_blank">
                    <span class="name-price">SHIRT_¥6,089</span>
                    <span class="buy">BUY</span>
                    <span class="slash">/</span>
                </a>
            </div>
        </div>
        <div class="item_name second_line">
            <a href="" target="_blank">
                <span class="name-price">PANTS_¥5,990</span>
                <span class="buy">BUY</span>
            </a>
        </div>
    </div>
</section> 
<section class="style style_7" id="style7">
    <div class="ph_wrap">    
        <img src="<%= rootURL %>/assets/img/style7.jpg" alt="" loading=”lazy”>
    </div>
    <div class="items_detail">
        <div class="item_flex">
            <div class="item_name">
                <a href="" target="_blank">
                    <span class="name-price">BLOUSON_¥11,000</span>
                    <span class="buy">BUY</span>
                    <span class="slash">/</span>
                </a>
            </div>
            <div class="item_name">
                <a href="" target="_blank">
                    <span class="name-price">SHIRT_¥6,089</span>
                    <span class="buy">BUY</span>
                    <span class="slash">/</span>
                </a>
            </div>
        </div>
        <div class="item_name second_line">
            <a href="" target="_blank">
                <span class="name-price">PANTS_¥5,990</span>
                <span class="buy">BUY</span>
            </a>
        </div>
    </div>
</section>

<section class="style style_8" id="style8">
    
    <div class="ph_wrap">    
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/style8-1.jpg" alt="" loading=”lazy”>
                </div>
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/style8-2.jpg" alt="" loading=”lazy”>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="items_detail">
        <div class="item_flex">
            <div class="item_name">
                <a href="" target="_blank">
                    <span class="name-price">BLOUSON_¥11,000</span>
                    <span class="buy">BUY</span>
                    <span class="slash">/</span>
                </a>
            </div>
            <div class="item_name">
                <a href="" target="_blank">
                    <span class="name-price">SHIRT_¥6,089</span>
                    <span class="buy">BUY</span>
                    <span class="slash">/</span>
                </a>
            </div>
        </div>
        <div class="item_name second_line">
            <a href="" target="_blank">
                <span class="name-price">PANTS_¥5,990</span>
                <span class="buy">BUY</span>
            </a>
        </div>
    </div>
</section> 

<section class="style style_9" id="style9">
    
    <div class="ph_wrap">    
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/style9-1.jpg" alt="" loading=”lazy”>
                </div>
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/style9-2.jpg" alt="" loading=”lazy”>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="items_detail">
        <div class="item_flex">
            <div class="item_name">
                <a href="" target="_blank">
                    <span class="name-price">BLOUSON_¥11,000</span>
                    <span class="buy">BUY</span>
                    <span class="slash">/</span>
                </a>
            </div>
            <div class="item_name">
                <a href="" target="_blank">
                    <span class="name-price">SHIRT_¥6,089</span>
                    <span class="buy">BUY</span>
                    <span class="slash">/</span>
                </a>
            </div>
        </div>
        <div class="item_name second_line">
            <a href="" target="_blank">
                <span class="name-price">PANTS_¥5,990</span>
                <span class="buy">BUY</span>
            </a>
        </div>
    </div>
</section> 

<section class="style style_10" id="style10">
    <div class="ph_wrap">    
        <img src="<%= rootURL %>/assets/img/style10.jpg" alt="" loading=”lazy”>
    </div>
    <div class="items_detail">
        <div class="item_flex">
            <div class="item_name">
                <a href="" target="_blank">
                    <span class="name-price">BLOUSON_¥11,000</span>
                    <span class="buy">BUY</span>
                    <span class="slash">/</span>
                </a>
            </div>
            <div class="item_name">
                <a href="" target="_blank">
                    <span class="name-price">SHIRT_¥6,089</span>
                    <span class="buy">BUY</span>
                    <span class="slash">/</span>
                </a>
            </div>
        </div>
        <div class="item_name second_line">
            <a href="" target="_blank">
                <span class="name-price">PANTS_¥5,990</span>
                <span class="buy">BUY</span>
            </a>
        </div>
    </div>
</section>
<section class="style style_11" id="style11">
    <div class="ph_wrap">    
        <img src="<%= rootURL %>/assets/img/style11.jpg" alt="" loading=”lazy”>
    </div>
    <div class="items_detail">
        <div class="item_flex">
            <div class="item_name">
                <a href="" target="_blank">
                    <span class="name-price">BLOUSON_¥11,000</span>
                    <span class="buy">BUY</span>
                    <span class="slash">/</span>
                </a>
            </div>
            <div class="item_name">
                <a href="" target="_blank">
                    <span class="name-price">SHIRT_¥6,089</span>
                    <span class="buy">BUY</span>
                    <span class="slash">/</span>
                </a>
            </div>
        </div>
        <div class="item_name second_line">
            <a href="" target="_blank">
                <span class="name-price">PANTS_¥5,990</span>
                <span class="buy">BUY</span>
            </a>
        </div>
    </div>
</section>