<!-- 1 -->
<section class="sp-style style style_1" id="style1">
    <div class="ph_wrap">    
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/style1-1.jpg" alt="" loading=”lazy”>
                </div>
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/style1-2.jpg" alt="" loading=”lazy”>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="items_detail">
        <div class="item_flex">
            <div class="item_name">
                <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=288151" target="_blank">
                    <span class="name-price">KNIT_¥6,600</span>
                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                    <span class="slash">/</span>
                </a>
            </div>
            <div class="item_name">
                <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=241790" target="_blank">
                    <span class="name-price">SHIRT_¥5,990</span>
                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                    <span class="slash">/</span>
                </a>
            </div>
        </div>
        <div class="item_name second_line">
            <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=242809" target="_blank">
                <span class="name-price">PANTS_¥5,990</span>
                <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
            </a>
        </div>
    </div>
</section>
<!-- 2 -->
<section class="sp-style style style_2" id="style2">
    
    <div class="ph_wrap">    
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/style6-1.jpg" alt="" loading=”lazy”>
                </div>
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/style6-2.jpg" alt="" loading=”lazy”>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="items_detail">
        <div class="item_flex">
            <div class="item_name">
                <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=283426" target="_blank">
                    <span class="name-price">JACKET_¥11,990</span>
                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                    <span class="slash">/</span>
                </a>
            </div>
            <div class="item_name">
                <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=283424" target="_blank">
                    <span class="name-price">PANTS_¥7,700</span>
                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                    <span class="slash">/</span>
                </a>
            </div>
        </div>
        <div class="item_name second_line">
            <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=290285" target="_blank">
                <span class="name-price">SKIRT_¥6,990</span>
                <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
            </a>
        </div>
    </div>
</section> 

<!-- 3 -->

<section class="sp-style style style_3" id="style3">
    
    <div class="ph_wrap">    
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/style9-1.jpg" alt="" loading=”lazy”>
                </div>
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/style9-2.jpg" alt="" loading=”lazy”>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="items_detail">
        <div class="item_flex">
            <div class="item_name">
                <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=234585" target="_blank">
                    <span class="name-price">JACKET_¥9,990</span>
                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                    <span class="slash">/</span>
                </a>
            </div>
            <div class="item_name">
                <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=284389" target="_blank">
                    <span class="name-price">KNIT_¥6,990</span>
                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                    <span class="slash">/</span>
                </a>
            </div>
        </div>
        <div class="item_name">
            <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=210466" target="_blank">
                <span class="name-price">PANTS_¥5,990</span>
                <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                <span class="slash">/</span>
            </a>
        </div>
    </div>
</section> 


<!-- 4 -->
<section class="sp-style style style_4" id="style4">
    
    <div class="ph_wrap">    
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/style8-1.jpg" alt="" loading=”lazy”>
                </div>
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/style8-2.jpg" alt="" loading=”lazy”>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="items_detail">
        <div class="item_flex">
            <div class="item_name">
                <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=308308" target="_blank">
                    <span class="name-price">JACKET_¥9,990</span>
                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                    <span class="slash">/</span>
                </a>
            </div>
            <div class="item_name">
                <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=290327" target="_blank">
                    <span class="name-price">ONE-PIECE_¥7,990</span>
                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                </a>
            </div>
        </div>
    </div>
</section> 

<!-- 5 -->
<section class="sp-style style style_5" id="style5">
    <div class="single">
        <div class="ph_wrap">    
            <img src="<%= rootURL %>/assets/img/style11.jpg" alt="" loading=”lazy”>
        </div>
    </div>
    <div class="items_detail">
        <div class="item_name">
            <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=241784"
                target="_blank">
                <span class="name-price">SHIRT_¥5,990</span>
                <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt=""
                        loading=”lazy”></span>
            </a>
        </div>
        <div class="item_name second_line" style="opacity: 0; pointer-events: none;">
            <a href=""
                target="_blank">
                <span class="name-price">SHIRT_¥5,990</span>
                <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt=""
                        loading=”lazy”></span>
            </a>
        </div>
    </div>
</section>

<!-- 6 -->
<section class="sp-style style style_6" id="style6">
    <div class="single">
        <div class="ph_wrap">    
            <img src="<%= rootURL %>/assets/img/style10.jpg" alt="" loading=”lazy”>
        </div>
    </div>
    <div class="items_detail">
        <div class="item_flex">
            <div class="item_name">
                <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=282960" target="_blank">
                    <span class="name-price">JACKET_¥9,990</span>
                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                    <span class="slash">/</span>
                </a>
            </div>
            <div class="item_name">
                <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=290357" target="_blank">
                    <span class="name-price">KNIT VEST_¥5,989</span>
                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                    <span class="slash">/</span>
                </a>
            </div>
        </div>
        <div class="item_name second_line">
            <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=283851" target="_blank">
                <span class="name-price">PANTS_¥6,600</span>
                <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
            </a>
        </div>
    </div>
</section>


<!-- 7 -->
<section class="sp-style style style_7" id="style7">
    
    <div class="ph_wrap">    
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/style5-1.jpg" alt="" loading=”lazy”>
                </div>
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/style5-2.jpg" alt="" loading=”lazy”>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="items_detail">
        <div class="item_flex">
            <div class="item_name">
                <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=242111" target="_blank">
                    <span class="name-price">JACKET_¥9,990</span>
                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                    <span class="slash">/</span>
                </a>
            </div>
            <div class="item_name">
                <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=291106" target="_blank">
                    <span class="name-price">T-SHIRT_¥4,400</span>
                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                    <span class="slash">/</span>
                </a>
            </div>
        </div>
        <div class="item_flex second_line">
            <div class="item_name">
                <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=286701" target="_blank">
                    <span class="name-price">PARKER_¥5,990</span>
                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                    <span class="slash">/</span>
                </a>
            </div>
            <div class="item_name">
                <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=318884" target="_blank">
                    <span class="name-price">PANTS_¥5,990</span>
                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                </a>
            </div>
        </div>
    </div>
</section> 

<!-- 8 -->
<section class="sp-style style style_8" id="style8">
    
    <div class="ph_wrap">    
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/style4-1.jpg" alt="" loading=”lazy”>
                </div>
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/style4-2.jpg" alt="" loading=”lazy”>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="items_detail">
        <div class="item_flex">
            <div class="item_name">
                <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=292222" target="_blank">
                    <span class="name-price">COAT_¥11,990</span>
                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                    <span class="slash">/</span>
                </a>
            </div>
            <div class="item_name">
                <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=291770" target="_blank">
                    <span class="name-price">SHIRT_¥6,089</span>
                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                    <span class="slash">/</span>
                </a>
            </div>
        </div>
        <div class="item_name second_line">
            <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=205532" target="_blank">
                <span class="name-price">PANTS_¥3,989</span>
                <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
            </a>
        </div>
    </div>
</section> 

<!-- 9 -->

<section class="sp-style style style_9" id="style9">
    <div class="single">
        <div class="ph_wrap">    
            <img src="<%= rootURL %>/assets/img/style3.jpg" alt="" loading=”lazy”>
        </div>
    </div>
    <div class="items_detail">
        <div class="item_flex">
            <div class="item_name">
                <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=286808" target="_blank">
                    <span class="name-price">BLOUSON_¥11,000</span>
                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                    <span class="slash">/</span>
                </a>
            </div>
            <div class="item_name">
                <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=241784" target="_blank">
                    <span class="name-price">SHIRT_¥5,990</span>
                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                    <span class="slash">/</span>
                </a>
            </div>
        </div>
        <div class="item_flex second_line">
            <div class="item_name">
                <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=291106" target="_blank">
                    <span class="name-price">T-SHIRT_¥4,400</span>
                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                    <span class="slash">/</span>
                </a>
            </div>
            <div class="item_name">
                <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=210082" target="_blank">
                    <span class="name-price">PANTS_¥6,990</span>
                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                </a>
            </div>
        </div>
    </div>
</section> 


<!-- 10 -->
 <section class="sp-style style style_10" id="style10">
    
    <div class="ph_wrap">    
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/style2-1.jpg" alt="" loading=”lazy”>
                </div>
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/style2-2.jpg" alt="" loading=”lazy”>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="items_detail">
        <div class="item_flex">
            <div class="item_name">
                <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=268742" target="_blank">
                    <span class="name-price">BLOUSON_¥11,000</span>
                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                    <span class="slash">/</span>
                </a>
            </div>
            <div class="item_name">
                <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=291770" target="_blank">
                    <span class="name-price">SHIRT_¥6,089</span>
                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                    <span class="slash">/</span>
                </a>
            </div>
        </div>
        <div class="item_name second_line">
            <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=308310" target="_blank">
                <span class="name-price">ONE-PIECE_¥7,489</span>
                <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
            </a>
        </div>
    </div>
</section> 
 
<!-- 11 -->

<section class="sp-style style style_11" id="style11">
    <div class="single">
        <div class="ph_wrap">    
            <img src="<%= rootURL %>/assets/img/style7.jpg" alt="" loading=”lazy”>
        </div>
    </div>
    <div class="items_detail">
        <div class="item_flex">
            <div class="item_name">
                <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=286699" target="_blank">
                    <span class="name-price">TOPS_¥6,600</span>
                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                    <span class="slash">/</span>
                </a>
            </div>
            <div class="item_name">
                <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=241773" target="_blank">
                    <span class="name-price">SHIRT_¥5,990</span>
                    <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
                    <span class="slash">/</span>
                </a>
            </div>
        </div>
        <div class="item_name second_line">
            <a href="https://www.dot-st.com/rageblue/disp/CSfGoodsPage_001.jsp?ITEM_CD=209496" target="_blank">
                <span class="name-price">PANTS_¥7,990</span>
                <span class="buy"><img src="<%= rootURL %>/assets/img/buy.png" alt="" loading=”lazy”></span>
            </a>
        </div>
    </div>
</section>







<section class="footer sp-footer sp-style" id="footer">
    <div class="footer_wrap">
        <div class="footer_logo">
            <a href="https://www.dot-st.com/rageblue/" target="_blank">
                <img src="<%= rootURL %>/assets/img/footer_logo.png" alt="" loading=”lazy”>
            </a>
        </div>
        <p class="footer_credit">
            Photo_Ryosuke Hoshina<br class="sp">
            Movie_Kei Doguchi<br class="sp">
            Styling_Masashi Sho<br class="sp">
            Hair & Make-up_Moeka Kanehara<br class="sp">
            Model_ Ivar (THE MANAGEMENT), Kate (WEST MANAGEMENT)<br>
            Design_Miko Shima<br class="sp">
            Web Development_Riho Yamamoto (Rhino Inc.)<br class="sp">
            Edit_Miyoko Hashimoto, Takahiro Kawata (Rhino Inc.)                
        </p>
        <ul class="footer_sns">
            <li class="x icon">
                <a href="https://x.com/ragebluepress" target="_blank">
                    <img src="<%= rootURL %>/assets/img/x.png" alt="" loading=”lazy”>
                </a>
            </li>
            <li class="insta icon">
                <a href="https://www.instagram.com/rageblue_official/" target="_blank">
                    <img src="<%= rootURL %>/assets/img/insta.png" alt="" loading=”lazy”>
                </a>
            </li>
            <li class="line icon">
                <a href="https://line.me/R/ti/p/@rageblue?from=page" target="_blank">
                    <img src="<%= rootURL %>/assets/img/line.png" alt="" loading=”lazy”>
                </a>
            </li>
            <li class="tiktok icon">
                <a href="https://www.tiktok.com/@rageblue_official" target="_blank">
                    <img src="<%= rootURL %>/assets/img/tiktok.png" alt="" loading=”lazy”>
                </a>
            </li>
        </ul>
        <p class="footer_copy">
            Copyright © Adastria Co., Ltd. All rights reserved.
        </p>
    </div>
</section>